*{
    margin:0;
    padding: 0;
}
body{
    line-height: 1.5;
    font-family: font_vn;
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family:font_vn;
    src:url('fonts/BDStreetSignSans_Variable.ttf') format('truetype'),
   }

.header-top
{
    background: linear-gradient(90.13deg,#9796f0,#fbc7d4);
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
   
}
.header-top p{
    font-size: 30px;
    text-align: center;
    color: #7469B6;
}
hr{
border-top: 1px solid black;
    width: 60%;
    margin:0 auto ;
    
}
.flex-header-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    justify-content: center;
    background: #EECEB9;
}

.flex-header-bot ul{
    display: flex;
    list-style: none;
}

.item-header 
{
    display: flex;
    font-size: 16px;
    padding: 0 20px;
    text-decoration: none;
    border-right: 1px solid rgb(255, 255, 255);
    color: rgb(51, 44, 44);
    font-weight: bold;
}

.poster
{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.round
{
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

